.reserve-button {
    background: linear-gradient( rgba(0, 55, 255, 0.282) 10%, rgba(6, 103, 151, 0.71) 100%);

    width: 155px;
    height: 44px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    border: none;
}

.button-text {
    font-size: 18px !important;
    color: white;
}

@media (max-width: 480px) {
    .button-text {
        font-size: 16px !important;
        color: white;
        font-weight: 500;
    }

    .reserve-button {
        width: 135px;
        height: 45px;
        border-radius: 16px;
        padding: 10px;
        border: none;
    }

    .reserve-button img {
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    
}
