.building-image {
  position: absolute;
  width: 392px;
  height: 305px;
  opacity: 0.7;
  border-radius: 5px;
  z-index: -1;
}

.fornt {
  position: relative;
  opacity: 1;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px;
  width: 392px;
  height: 305px;
}

.fornt:hover {
  background-color: rgb(11, 255, 7);
}

.fornt:hover .zoom-picture {
  opacity: 1 !important;
}

.zoom-picture {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0 !important;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;
}

@media (max-width: 480px) {
  .building-image {
      width: 100%;
      height: 265px;
      opacity: 1;
  }

  .fornt {
      height: 265px;
  }

  .fornt:hover {
      background-color: transparent;
  }

  .fornt:hover .zoom-picture {
      opacity: 0 !important;
  }
}

@media (min-width: 481px) and (max-width: 1023.5px) {
  .building-image {
    opacity: 1;
}
  .fornt:hover {
      position: static;
      background-color: transparent;
      border-radius: 0px;
  }

  .fornt:hover .zoom-picture {
      opacity: 0 !important;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  /* Додайте стилі для великих екранів */
}

@media (min-width: 1441px) {
  /* Додайте стилі для надвеликих екранів */
}
