.background{
    height: 970px;
    width: 1700px;
    z-index: -1;
}
.background-container{
    position: absolute;
    overflow-x: hidden;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.background-2{
    margin-top: 100px;
    height: 970px;
    width: 1570px;
    z-index: -1;
}
.bowling-image-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}
.bowling-image-container img{
    height: 329px;
    width: 294px;
}
.container-images-background{
    margin-top: 300px;
}
@media (max-width: 480px) {

}


@media (min-width: 481px) and (max-width: 768px) {

}


@media (min-width: 769px) and (max-width: 1024px) {

}


@media (min-width: 1025px) and (max-width: 1440px) {

}


@media (min-width: 1441px) {

}